*{
    background-color: #090f1b;
    font-family: 'Ubuntu', sans-serif;
}

.signuppage{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
   
}

.signup-main-box{
    
    justify-content: center;
    
    height: 25rem;
    width: 100%;
    margin: auto;
    
}

.signupheader{
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
}



.signup-inner{
    margin: auto;
    height: 200px;
    width: 750px;
   
    text-align: center;
}

.form-container{
    height: 130px;
    display: flex;
    flex-direction: column;
    width: 40%;
   margin: auto;
   color: aliceblue;
   
}


input{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    height: 25px;
    border-radius: 7px;
    background-color: white;
}


.buttonwrap{
    margin-top: 20px;
}

button{
    
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    background-color: #FF7518;
    font-size: 15px;
    border: none;
    
}



.login-button{
    margin-right:10px;
}

button:hover {
	background: #FF605C;
}

@media (max-width: 992px){
    
    .signup-inner{
        
        width: 100%;
    }
    .form-container{
        width: 50%;
    }


}

@media (max-width: 728px){
    .form-container{
        width: 70%;
    }
}
